body {
   font-family: Arial, sans-serif;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   text-align: center;
   background-color: #f4f4f4;
   background-image: url(images/creamback.jpg);
   font-size: 50px;
   color: white;
}

#header {
   color: #ffffff;
   background-image: url(images/all.b.jpg);
   margin-bottom: 30px;
}

#gallery {
   display: flex;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
   
}

.player-container {
   background-color: white;
   border-radius: 10px;
   box-shadow: 0 4px 6px rgba(0,0,0,0.1);
   padding: 15px;
   transition: transform 0.3s ease;
}

.player-container:hover {
   transform: scale(1.05);
}

.player-container img {
   max-width: 250px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
}

.vote-section {
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.vote-section button {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 10px;
   transition: background-color 0.3s ease;
}

.vote-section button:hover {
   background-color: #45a049;
}

.vote-section span {
   font-weight: bold;
   color: #333;
}