body {
   font-family: Arial, sans-serif;
   font-style: italic;
   max-width: 1200px;
   margin: 0 auto;
   padding: 20px;
   text-align: center;
   background-color: #f4f4f4;
   background-image: url(images/creamback.jpg);
   font-size: 60px;
   color: rgb(0, 0, 0);
}

#header {
   color: #ffffff;
   background-image: url(images/all.b.jpg);
   margin-bottom: 0px;
   
}

#gallery {
   display: flex;
   font-style: inherit;
   justify-content: center;
   gap: 20px;
   flex-wrap: wrap;
   font-size: 50px;
}

.player-container {
   background-color: rgb(240, 240, 240);
   border-radius: 10px;
   box-shadow: 1px 10px 10px rgba(67, 255, 10, 0.945);
   padding: 15px;
   transition: transform 0.3s ease;
   
}

.player-container:hover {
   transform: scale(1.05);
   
}

.player-container img {
   max-width: 250px;
   height: 300px;
   object-fit: cover;
   border-radius: 10px;
   size: 100px;
   font-size: 100px;
}

.vote-section {
   margin-top: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   
}

.vote-section button {
   background-color: #4CAF50;
   color: white;
   border: none;
   padding: 10px 20px;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 10px;
   transition: background-color 0.3s ease;
}

.vote-section button:hover {
   background-color: #45a049;
}

.vote-section span {
   font-weight: bold;
   color: #333;
}

.ardie-votes{
   font-size: 100px;
}